@media only screen and (max-width: 1600px) {

	/*-- Section 2 -About --*/

	.about_article h2 {
	    padding: 15px 0;
	    font-size: 52px;
	}

	.about_article p {
	    padding: 14px 0;
	    font-size: 37px;
	    line-height: 48px;
	}

	/*-- /Section 2 -About --*/

	/*-- Section 1 - Catalog --*/

	.good_thumb {
    	width: calc(50% - 30px);
    }

    /*-- /Section 1 - Catalog --*/

	/*-- Footer --*/

	.footer_row_1 {
	    padding: 25px 40px;
	}

	.footer_row_1 .left {
	    width: calc(100% - 280px);
	}

	.footer_row_1 .right {
	    width: 280px;
	}

	.inner_two_cols .inner_col_1 {
	    width: 310px;
	    padding-right: 20px;
	}

	.inner_two_cols .inner_col_2 {
	    width: calc(100% - 310px);
	    padding: 18px 0 10px 10px;
	}

	.seo_text {
	    min-width: 175px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1300px) {

/*-- Section 1 - Clients --*/

.clients_thumbs .client_thumb {
    width: calc(20% - 20px);
}

/*-- /Section 1 - Clients --*/

}

@media only screen and (max-width: 1240px) {

	/*-- Header --*/

	.contacts_list {
	    margin-top: 25px;
	}

	.contacts_list li {
	    padding: 0 12px;
	    font-size: 18px;
	    line-height: 20px;
	}

	.contacts_list li a {
	    font-size: 18px;
	    line-height: 20px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main --*/

	.promo_slider .slide {
	    height: 615px;
	}

	h2 {
	    font-size: 36px;
	}

	p {
	    font-size: 19px;
	}

	.promo_slider p {
	    line-height: 32px;
	}

	.promo_slider .slide_descript {
	    margin-top: 20px;
	    padding-top: 26px;
	}

	/*-- /Section 1 - Main --*/

	/*-- Section 2 - Main --*/

	.promo_thumb {
	    height: 400px;
	}

	/*-- /Section 2 - Main --*/

	/*-- Section 1 - Catalog --*/

	.catalog_templ .left {
	    width: 255px;
	}

	.catalog_templ .right {
	    width: calc(100% - 255px);
	}

	.filter_wrapp {
	    padding: 20px 20px 13px 20px;
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Footer --*/

	.inner_two_cols .inner_col_1 {
	    width: 310px;
	    padding-right: 0;
	}

	.inner_two_cols .inner_col_2 {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.contacts_list li a {
	    font-size: 16px;
	    line-height: 18px;
	}

	.main_nav_2 li a {
	    padding: 10px 15px;
	    width: 135px;
	    height: 70px;
	    font-size: 18px;
	    line-height: 22px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Catalog --*/

	.thumb_modal {
	    padding: 15px;
	    width: calc(100% - 30px);
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Clients --*/

	.clients_thumbs .client_thumb {
	    width: calc(25% - 20px);
	}

	/*-- /Section 1 - Clients --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Header --*/

	.header_row_1 {
	    padding: 3px 20px;
	}

	.header_row_1 .right {
	    text-align: right;
	}

	.contacts_list {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.contacts_list li {
		display: block;
		width: 100%;
		padding: 0;
		font-size: 16px;
	    line-height: 18px;
	}

	.contacts_list li a {
	    font-size: 16px;
	    line-height: 18px;
	}

	.main_nav_2 li a {
	    padding: 10px 15px;
	    width: 135px;
	    height: 70px;
	    font-size: 18px;
	    line-height: 22px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Catalog --*/

	.catalog_templ .left {
	    width: 100%;
	    padding: 5px 0;
	}

	.catalog_templ .right {
	    width: 100%;
	    padding: 5px 0;
	}

	.filter_wrapp {
	    margin: 5px 0;
	}

	.banner_wrapp {
		display: none;
	}

	.goods_thumbnails {
	    margin: 10px -8px;
	}

	.good_thumb {
	    width: calc(50% - 16px);
	    margin: 8px;
	}

	.filter_btn {
	    display: block !important;
	}

	.dropdown_filter {
		display: none;
	}

	/*-- /Section 1 - Catalog --*/

}

@media only screen and (max-width: 900px) {

	/*-- Section 1 - Main --*/

	.promo_slider .slide_descript {
	    margin-top: 15px;
	    padding-top: 18px;
	}

	.promo_slider .slide {
	    height: 480px;
	}

	h2 {
	    font-size: 23px;
	}

	p {
	    font-size: 17px;
	}

	/*-- /Section 1 - Main --*/

	/*-- Section 2 - Main --*/

	h3 {
	    font-size: 23px;
	}

	.promo_thumb {
	    height: 300px;
	}

	/*-- /Section 2 - Main --*/

	/*-- Section 2 -About --*/

	.about_article h2 {
	    font-size: 44px;
	}

	.about_article p {
	    padding: 14px 0;
	    font-size: 29px;
	    line-height: 40px;
	}

	/*-- /Section 2 -About --*/

	/*-- Footer --*/

	.footer_row_1 {
	    padding: 25px 30px;
	}

	.footer_nav li a {
	    font-size: 16px;
	    line-height: 16px;
	}

	.seo_box {
		margin: 0 -10px;
	}

	.seo_text {
	    min-width: 140px;
	}

	.footer_nav li {
	    padding: 4px 0;
	}

	.footer_nav li a {
	    font-size: 15px;
	    line-height: 15px;
	}

	.contacts_box {
	    margin-top: 13px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 767px) {

	h1 {
	    font-size: 36px;
	}

	/*-- Section 2 - Main --*/

	h3 {
	    font-size: 20px;
	}

	.promo_thumb {
	    height: 250px;
	}

	/*-- /Section 2 - Main --*/

	/*-- Section 2 -About --*/

	.about_article h2 {
	    font-size: 36px;
	}

	.about_article p {
	    padding: 9px 0;
	    font-size: 24px;
	    line-height: 30px;
	}

	/*-- /Section 2 -About --*/

	/*-- Section 1 - Clients --*/

	.client_thumb {
	    height: 115px;
	}

	.clients_thumbs .client_thumb {
	    width: calc(33.33% - 20px);
	}

	/*-- /Section 1 - Clients --*/

}

@media only screen and (max-width: 750px) {

	/*-- Header --*/

	.main_nav_wrapp {
		position: relative;
		padding-right: 50px;
		padding: 18px 50px 18px 10px;
	}

	.respmenubtn {
	    display: inline-block;
	    position: absolute;
	    top: 8px;
	    right: 10px;
	}

	.main_nav  {
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
	}

	.main_nav li {
	    padding: 0 15px;
	}

	.main_nav_2 li a {
	    padding: 10px;
	    width: 100px;
	    height: 59px;
	    font-size: 15px;
	    line-height: 17px;
	}

	#resp_nav {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding: 55px 10px 50px 10px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 13;
		background-color: #000504;
	}

	.main_nav_2 {
		display: block;
		box-shadow: none;
		border-radius: 0;
	}

	.main_nav_2 li {
		display: block;
	    padding: 3px 0;
	    text-align: center;
	}

	.main_nav_2 li a {
		/*display: block;*/
		width: 100%;
		font-size: 20px;
		line-height: 20px;
	}

	.main_nav_2_wrapp .close_nav {
	    display: block;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main --*/

	.promo_thumb {
	    height: 200px;
	}

	/*-- /Section 2 - Main --*/

	/*-- Section 1 - Catalog --*/

	.catalog_sect {
	    padding-top: 45px;
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Footer --*/

	.footer_row_1 .left,
	.footer_row_1 .right {
	    width: 100%;
	    padding: 10px 0;
	}

	.footer_row_1 .right {
	    justify-content: center;
	    -webkit-justify-content: center;
	}

	.inner_two_cols {
	    justify-content: center;
	    -webkit-justify-content: center;
	}

	.seo_box {
	    justify-content: center;
	    -webkit-justify-content: center;
	}

	.seo_text {
	    min-width: 164px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 1 - Catalog --*/

.goods_thumbnails {
    margin: 10px 0;
}

.good_thumb {
    width: 100%;
    margin: 8px 0;
}

/*-- /Section 1 - Catalog --*/

}

@media only screen and (max-width: 600px) {

.row {
    padding: 0 15px;
}

/*-- Header --*/

.header_row_1 .left {
    width: 75px;
}

.header_row_1 .right {
    width: calc(100% - 75px);
}

.logo img.desk_logo {
    display: none;
}

.logo img.resp_logo {
    display: block;
}

.main_nav_wrapp {
    padding: 12px 50px 12px 10px;
}

.main_nav li a {
    font-size: 15px;
    line-height: 17px;
}

.respmenubtn {
    top: 0;
}

/*-- /Header --*/

/*-- Section 2 -About --*/

.about_article h2 {
    font-size: 29px;
}

.about_article p {
    padding: 5px 0;
    font-size: 21px;
    line-height: 27px;
}

/*-- /Section 2 -About --*/

/*-- Section 1 - Catalog --*/

.thumb_modal {
    padding: 10px;
    width: calc(100% - 20px);
}

/*-- /Section 1 - Catalog --*/

/*-- Footer --*/

.footer_nav li {
    padding: 5px 0;
    text-align: center;
}

.seo_box {
	display: block;
}

.contacts_box {
    margin-top: 0;
}

/*-- /Footer --*/

}


@media only screen and (max-width: 480px) {

	/*-- Header --*/

	.header_row_1 {
	    padding: 3px 15px;
	}

	.contacts_list {
	    margin-top: 3px;
	}

	.contacts_list li {
		padding: 2px 0;
		font-size: 14px;
	    line-height: 16px;
	}

	.contacts_list li a {
		font-size: 14px;
	    line-height: 16px;
	}

	.main_nav li {
	    padding: 0 7px;
	}

	.main_nav li a {
	    font-size: 14px;
	    line-height: 16px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main --*/

	h2 {
	    font-size: 22px;
	}

	p {
	    font-size: 14px;
	}

	.promo_slider p {
	    line-height: 27px;
	}

	/*-- /Section 1 - Main --*/

	/*-- Section 2 - Main --*/

	.promo_thumb {
		width: 100%;
		margin: 4px 0;
	}

	.promo_thumb:last-child {
	    width: 100%;
	}

	/*-- /Section 2 - Main --*/

	/*-- Section 1 - Clients --*/

	.clients_thumbs .client_thumb {
	    width: calc(50% - 20px);
	}

	/*-- /Section 1 - Clients --*/

	/*-- Footer --*/

	.footer_row_1 {
	    padding: 25px 15px;
	}

	/*-- /Footer --*/
	
}

@media only screen and (min-width: 1025px) {

/*-- Section 1 - Catalog --*/

.dropdown_filter {
	display: block !important;
}

/*-- /Section 1 - Catalog --*/

}

@media only screen and (min-width: 751px) {

	/*-- Header --*/

	#resp_nav {
		display: block !important;
	}

	/*-- /Header --*/

}
